<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="\css\bootstrap.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>Biblioteca</title>
</head>


<nav class="navbar navbar-expand-lg navbar-white bg-dark static-top">
  <div class="container">
          <img src="\img\senai.jpg" width="200" height="50" text="center" alt="">
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="http://localhost:3001/admin">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3001/admin/usuario">Usuário</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3001/admin/Graficos">Gráficos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="container"> <div class=" text-center mt-5 ">
        <h1>Novo Usuário</h1>
    </div>
    <div class="row ">
        <div class="col-lg-7 mx-auto">
            <div class="card mt-2 mx-auto p-4 bg-light">
                <div class="card-body bg-light">
                    <div class="container">
                        <form id="contact-form" role="form">
                            <div class="controls">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group"> <label for="form_name">Nome</label> <input id="form_name" type="text" name="name" class="form-control" placeholder="Nome" required="required" data-error="Nome é obrigatório"> </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group"> <label for="form_lastname">Turma</label> <input id="form_turma" type="text" name="turma" class="form-control" placeholder="Turma" required="required" data-error="Turma é obrigatório"> </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group"> <label for="form_name">Número</label> <input id="form_numero" type="text" name="numero" class="form-control" placeholder="Número" required="required" data-error="Número é obrigatório"> </div>
                                    </div>
                                <div class="col-md-6">
                                        <div class="form-group"> <label for="form_name">Data</label> <input id="form_date" type="text" name="date" class="form-control" placeholder="Data" required="required" data-error="Data é obrigatório"> </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group"> <label for="form_lastname">Horário</label> <input id="form_horario" type="text" name="horario" class="form-control" placeholder="Horário" required="required" data-error="Horário é obrigatório"> </div>
                                    </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group"> <label for="form_message">Atividade</label> <textarea id="form_atividade" name="atividade" class="form-control" placeholder="Atividade do Aluno" rows="4" required="required" data-error="Você esqueceu de colocar atividade"></textarea> </div>
                                    </div>
                                    <div class="col-md-12"> <input type="submit" class="btn btn-success btn-send pt-2 btn-block " value="Salvar"> </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
