<nav class="navbar navbar-expand-lg navbar-white bg-dark static-top">
  <div class="container">
          <img src="./img/senai.jpg" width="200" height="50" text="center" alt="">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="http://localhost:3001/admin">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3001/admin/usuario">Úsuario</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3001/admin/Graficos">Gráficos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
